{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block third-party-javascript %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}

{% block custom-javascript %}
  <script src="{% static "js/constants.js" %}"></script>
  <script src="{% static "js/endpoints.js" %}"></script>
  <script src="{% static "js/charts.js" %}"></script>
  <script src="{% static "js/dashboard.js" %}"></script>
  <script src="{% static "js/dashboard-events.js" %}"></script>
{% endblock %}

{% block custom-css %}
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock custom-css %}

{% block content-no-container %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>{% trans "Historical data" %}</span>
          <a class="d-flex align-items-center text-muted" data-toggle="collapse" href="#collapse-historic-data" role="button" aria-expanded="true" aria-controls="collapse-historic-data">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <div class="accordion" id="accordion-menu">
          <div class="collapse show" id="collapse-historic-data" data-parent="#accordion-menu">
            <ul class="nav flex-column px-4">
              {% for year in years %}
                <li class="nav-item">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="historic-data-year-{{ year }}" name="historic-data-year" value="{{ year }}" checked>
                    <label class="custom-control-label" for="historic-data-year-{{ year }}">{% blocktrans %} Year {{ year }}{% endblocktrans %}</label>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>{% trans "Simple data" %}</span>
            <a class="d-flex align-items-center text-muted" data-toggle="collapse" href="#collapse-simple-data" role="button" aria-expanded="false" aria-controls="collapse-simple-data">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <div class="collapse" id="collapse-simple-data" data-parent="#accordion-menu">
            <ul class="nav flex-column mb-2 px-4">
            {% for year in years %}
              <li class="nav-item">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="simple-data-year-{{ year }}" name="simple-data-year" value="{{ year }}">
                  <label class="custom-control-label" for="simple-data-year-{{ year }}">{% blocktrans %} Year {{ year }}{% endblocktrans %}</label>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <div class="text-center py-5">
          <button type="button" class="btn btn-secondary btn-sm py-0" id="btn-simple-data">Apply filters</button>
        </div>

      </div>
    </nav>

    {% block dashboard_content %}
      {% include "core/dashboard-content.html" %}
    {% endblock dashboard_content %}

  </div>
</div>
{% endblock content-no-container %}
